//<МИКСИНЫ>===================================
@import "mixins";
//</МИКСИНЫ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@font-face {
 font-family: "Segoi";
 src: url("../fonts/segoi400") format("woff2"),
		url("../fonts/segoi400") format("woff");
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
 font-family: "Segoi";
 src: url("../fonts/segoi600") format("woff2"),
		url("../fonts/segoi600") format("woff");
font-weight: 600;
font-style: normal;
font-display: swap;
}
@font-face {
 font-family: "Segoi";
 src: url("../fonts/segoi700") format("woff2"),
		url("../fonts/segoi700") format("woff");
font-weight: 700;
font-style: normal;
font-display: swap;
}
@font-face {
 font-family: "Segoi";
 src: url("../fonts/segoii") format("woff2"),
		url("../fonts/segoii") format("woff");
font-weight: 400;
font-style: italic;
font-display: swap;
}
@font-face {
 font-family: "Helvetica";
 src: url("../fonts/helvetica400") format("woff2"),
		url("../fonts/helvetica400") format("woff");
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
 font-family: "Helvetica";
 src: url("../fonts/helvetica700") format("woff2"),
		url("../fonts/helvetica700") format("woff");
font-weight: 700;
font-style: normal;
font-display: swap;
}

//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font: "HelveticaRegular", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================
$minwidth: 320px;
$mw: 1140;



//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: #000;
	font-size: 16px;
	font-family: $font;
	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	min-width: 320px;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "ui";
// @import "swiper";  Подключение swiper.css 
// @import "baguetteBox";  Подключение baguetteBox.css
// Подключение общих элементов


//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header";
@import "home";
@import "footer";
@import "modal";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================



//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================