//<МИКСИНЫ>===================================
@import "mixins";
//</МИКСИНЫ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@import "fonts";
//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font-family: "Montserrat", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================
$minwidth: 320px;
$maxWidth: 1920;
$mw: 1808;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
@import "vars";

body {
	color: var(--color-black);
	background-color: var(--color-white);
	font-size: 20px;
	font-family: $font-family;
	font-weight: 400;
	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	min-width: 320px;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 15px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "ui";
// @import "./plugins/swiper";  Подключение swiper.css 
// @import "./plugins/baguetteBox";  Подключение baguetteBox.css
// Подключение общих элементов


//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/portfolio.scss";
@import "./components/about.scss";
@import "./components/services.scss";
@import "./components/masters.scss";
@import "./components/feedback.scss";
@import "./components/consult.scss";
@import "./components/contacts.scss";

@import "./components/footer.scss";
// @import "./components/modal.scss";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================



//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================