//<МИКСИНЫ>===================================
@import "./settings/mixins";
//</МИКСИНЫ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@import "./settings/fonts";
//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font-family: "RobotoCondensed", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================

// Ширина макета для адаптивного шрифта
$maxWidth: 1920;

// Ширина контейнера
$mw: 1230;

// Длительность свойства tranzition
$ms: 0.3s;

//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
:root {
    --clr-neutral-100: #fff;
    --clr-neutral-200: #f3f3f3;
    --clr-neutral-800: #333;
    --clr-neutral-900: #000;

    --clr-primary-400: #c8434b;
    --clr-primary-300: #afafaf;

    --clr-ui-border: #3e3e3e;
    --clr-ui-bg: #fffefa;
}
@import "./settings/normalize";

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 15px;
    color: var(--clr-neutral-900);
    background-color: var(--clr-ui-bg);
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: $mw + px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "ui";
// Подключение общих элементов

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/ui/header.scss";
@import "./components/latest.scss";
@import "./components/charts.scss";
@import "./components/events.scss";
@import "./components/ui/footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
