// <МИКСИНЫ>===================================
@import "mixins";

// </МИКСИНЫ>======================================

// <ШРИФТЫ>======================================

// <Подключаем шрифты>===================
@import "fonts";

// </Подключаем шрифты>==================

// <Иконочные шрифты>======================================

// </Иконочные шрифты>=====================================

// <Шрифт по умолчанию>============================
$font-family: "Montserrat", sans-serif;

// </Шрифт по умолчанию>=============================

// </ШРИФТЫ>======================================

// <ПЕРЕМЕННЫЕ>============================

// Ширина макета для адаптивного шрифта
$maxWidth: 1920;

// Ширина контейнера
$mw: 1810;

// </ПЕРЕМЕННЫЕ>============================

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================================
@import "normalize";
@import "vars";

body {
    font-family: $font-family;
    font-weight: 400;
    color: var(--color-black);
    background-color: var(--color-white);

    &.lock {
        overflow: hidden;
    }
}

// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=====================================================

// <ОБОЛОЧКА>========================================================================
.wrapper {
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
}

// </ОБОЛОЧКА>=============================================================

// <ОСНОВНАЯ СЕТКА>========================================================
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: $mw + px;
}

// </ОСНОВНАЯ СЕТКА>========================================================
// Подключение общих элементов
@import "ui";
@import "keyframes.scss";

// Подключение swiper.css
@import "./plugins/swiper";
// @import "./plugins/baguetteBox";  Подключение baguetteBox.css
// Подключение общих элементов

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==========================
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/whyus.scss";
@import "./components/discount.scss";
@import "./components/services.scss";
@import "./components/clean.scss";
@import "./components/steps.scss";
@import "./components/contact.scss";
@import "./components/maintain.scss";
@import "./components/about.scss";
@import "./components/faq.scss";
@import "./components/contacts.scss";
@import "./components/footer.scss";

// @import "./components/modal.scss";

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================

// <ОСНОВНОЙ БЛОК>=============================================================

// ===========================================================================

// </ОСНОВНОЙ БЛОК>===========================================================
