:root {
    --color-geyser: #dae4e5;
    --color-shadow: #94c0c2;
    --color-bay: #69a4a2;
    --color-casal: #296e6b;
    --color-plant: #2b4a4a;
    --color-white: #fff;
    --color-black: #000;
    --color-hovered: #205b59;
}